<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DEFAULT} [%t] [%highlight{%-5level}] %logger{1}:%L - %msg %n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>
